.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  /*position: relative;
  width: 100%;
  min-height: 1px;*/
  padding-right: 0px;
  padding-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

.btn {
	padding: 0;
}

.form-control {
	border-radius: 0;
}

/*********** scrollbar ***********/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*********** scrollbar ***********/

.upper-container {
	height: 60px;
}

.middle-container {
	height: calc(100vh - 140px);
}

.middle-container.with-msg-error {
	height: calc(100vh - 180px);
}

.lower-container {
	height: 80px;
}

.divider-primary {
	border-bottom: 1px solid #a28ac7;
}

.divider-secondary {
	border-bottom: 1px solid #563d7c;
}

#definition-title, #definition {
	background-color: #563d7c;
}

#definition-title {

}

#definition-title h5 {
	color: white;
	line-height: 60px;
	padding-left: 10px;
}

#definition {
	overflow-y: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#definition.middle-container {
	height: calc(100vh - 60px);
}

#actions{
	padding: 0;
}

.action {
	width: 25%;
	padding-top: 10px;
}

.action div {
	text-align: center;
}

.action .icon {
	height: 20px;
}

.action i {
	font-size: 20px;
	color: white;
}

.action label, #selected-snap label, #definition label {
	font-size: 12px;
	color: white;
}

input#w {
	margin-top: 10px;
	margin-left: 10px;
}

#execution-data, #execution-tree, #selected-snap {
	/*background-color: #a28ac7;*/
	background-color: #292929;
}

#execution-data {

}

#execution-data h5 {
	color: white;
	line-height: 60px;
	padding-left: 10px;
}

#execution-tree {
	overflow-x: auto;
	overflow-y: auto;
	padding: 20px;
	padding-top: 50px;
}

#selected-snap {
	/*display: inline-block;*/
	flex-wrap: nowrap;
	overflow-x: auto;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.square, .indexed-square {
	height: 40px;
	width: 30px;
	border: 1px solid #a28ac7;
	background-color: #563d7c;
	color: white;/*#292929;*/
	text-align: center;
    padding-top: 0px;
    font-size: 24px;
    /*display: inline-block;
  	float: none;*/
  	flex: 0 0 auto;
}

.indexed-square {
    /*border: 1px solid #292929;*/
    /*color: #292929;*/
    /*background-color: #a28ac7;*/
	border: 3px solid #a28ac7;
    color: #ffffff;
    background-color: #4a4444; /*#292929;*/
    height: 52px;
    width: 40px;
    margin-top: -6px;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 44px;
}

.empty-char-square {
	background-color: #bf4444;
}

.form-check-input {
	margin-top: 0;
    margin-left: 0;
    top: 8px;
}

.form-check label {
	position: relative;
	left: 16px;
	/*font-weight: bold;*/
	letter-spacing: 2px;
}

.empty-char {
	font-size: 16px;
}

.msg-container {
	height: 40px;
	color: white;
	text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 24px;
    border-color: white;
}

.border-white {
	border-color: white;
}

.hidden {
	display: none;
}

.red {
	background-color: #d00707;
}

.green {
	background-color: #07b10c;
}

/*#hide {
	width: 200px;
    height: 80px;
    background-color: #a28ac7;
    position: absolute;
    z-index: 3;
}*/

@media screen and (max-width: 576px) {
  	#execution-data {
    	height: 120px;
	}
}