*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper-tree {
    position: relative;
}

.branch-blank {
    position: relative;
	margin-left: 150px;
}

.branch {
    position: relative;
    margin-left: 150px;
}

.branch:before {
    content: "";
    width: 40px;
    border-top: 3px solid #eee9dc;
    position: absolute;
    left: -90px;
    top: 50%;
    margin-top: 1px;
}

.entry {
    position: relative;
    min-height: 70px;
}

.entry:before {
    content: "";
    height: 100%;
    border-left: 3px solid #eee9dc;
    position: absolute;
    left: -50px;
}

.entry:after {
    content: "";
    width: 50px;
    border-top: 3px solid #eee9dc;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
}

.entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}

.entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
}

.entry:first-child {

}

.entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
}

.entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 3px solid white;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
}

.entry:only-child:before {
    display: none;
}

.entry:only-child:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
}

.label {
    display: block;
    width: 60px;
    padding: 5px 10px;
    line-height: 50px;
    text-align: center;
    /*border: 2px solid black;*/
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
    background-color: #563d7c;
    font-weight: 400;
    color: white;
}

.label:hover {
    cursor: pointer;
    background-color: #a28ac7;
    /*border: 3px solid #563d7c;*/
    /*color: black;*/
}

.label.qR:hover {
    background-color: #ff1212;
}

.label.qA:hover {
    background-color: #19f31e;
}

.label.selected {
    border: 3px solid #ffffff;
    width: 63px;
    margin-top: -28px;
    margin-left: -2px;
}

.qR {
    background-color: #d00707;
}

.qA {
    background-color: #07b10c;
}

/*We will apply the hover effect the the lineage of the element also*/
/*, .tree li a:hover+ul li a*/
/*.entry span:hover, .entry span:hover+div span, .label:hover {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}*/

/*Connector styles on hover FIX THIS*/
/*.tree li a:hover+ul li::after, */
.entry span:hover+div span::after,
/*.tree li a:hover+ul li::before, */
.entry span:hover+div span::after,
/*.tree li a:hover+ul::before, */
.entry span:hover+div::before,
/*.tree li a:hover+ul ul::before*/
.entry span:hover+span::before {
	/*border-color:  #000;*/
}

/*FROM BRYAN*/
.hasMore {
	border: 2px red solid !important;
}